/*--------------------------------------------------------------
General rules
--------------------------------------------------------------*/

html{
    font-size: 16px !important;
}

body{
    font-size: 1rem;
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 0;
    background: #FFFFFA;
}

img {
    cursor: pointer;
}

/*--------------------------------------------------------------
Section styles
--------------------------------------------------------------*/

.section-quick-stalk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.sub-section-quick-stalk {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.section-recently-stalked,
.section-bookmarked {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 150px;
    height: 100%;
}

.section-subscription {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*--------------------------------------------------------------
Site header and footer styling
--------------------------------------------------------------*/

.site-header {
    background: #B02E0C;
    padding: 2em;
}

.site-header-content-wrapper {
    display: flex;
    align-items: center;
}

/*
.site-main-content {
    background-color: #EAECF0;
    padding: 1em;
}*/

.site-brand {
    color: white;
    margin: 5px;
}

.site-description {
    color: white;
    font-style: italic;
    margin: 5px;
    padding: 5px;
}

.site-footer {
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    padding: 2em;
    color: white;
    background: #333;
    margin-top: 20px;
}

/*--------------------------------------------------------------
Button styles
--------------------------------------------------------------*/

.submit-button{
    margin: 10px !important;
}

/*--------------------------------------------------------------
Icon styles
--------------------------------------------------------------*/

.img-spacing{
    padding-left: 20px;
}

/*--------------------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------------------*/

.site {
	max-width: 100%;
	margin: 0 auto;
}

/*--------------------------------------------------------------
CSS Grid
--------------------------------------------------------------*/

/*
.recently-stalked-grid{
    display: grid;
    grid-template-columns: 1fr repeat(2, 10px 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "recent recent recent recent recent"
}

.recently-stalked-area{
    grid-area: recent;
}
*/

/*--------------------------------------------------------------
Bootstrap CSS Overwrites
--------------------------------------------------------------*/

.card-img-top {
    width: 170px !important;
    height: 170px !important;
    object-fit: cover !important;
}

.card-text {
    margin: 20px 0px 20px 0px !important;
}

.navbar {
    margin: 0px !important;
}

/*--------------------------------------------------------------
CSS for Product Cards 
--------------------------------------------------------------*/

.recently-stalked-product,
.bookmarked-product {
    width: 180px;
}