{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load dashboard_filters %}
<main>
	<section id="quick_stalk" name="quick_stalk" class="section-quick-stalk">
		<h2>Stalk Product</h2>
		<div id="quick_stalk_fields"  name="quick_stalk_fields" class="sub-section-quick-stalk">
			<div class="form-inline">
				{% for field in formset %}
					<div class="form-group mx-sm-3 mb-2">
						<label for="{{ field.auto_id }}" class="sr-only">{{ field.label }}</label>
					    <input type="{{ field.field.widget.input_type }}" id="{{ field.auto_id }}" name="{{ field.name }}" class="form-control" placeholder="{{ field.label }}" />
					</div>    
				{% endfor %}

			    <button id="submit_quick_stalk" name="submit_quick_stalk" class="submit-button btn btn-primary mb-2" 
						  onclick="postFieldsData(`{% url 'stalk' %}`,'id_name, id_url'); generateProduct();">Stalk</button>
			</div>

		</div>
	</section>

	<section id="recently_stalked" name="recently_stalked" class="section-recently-stalked">
		{% for product in products %}
			<div id="product_{{product.id}}" class="recently-stalked-product">
				<div class="card-body">
    				<h5 class="card-title">{{product.name}}</h5>
    				<img class="card-img-top" src="{{product.image_url}}" alt="Product Image" />
    				<p class="card-text">Current Price: {{product|get_product_price}}</p>
    				<a href="{{product.url}}" target="_blank" class="btn btn-primary">View Product</a>
    				<img class="img-spacing" 
    					 src="{{product|get_bookmark_src}}"
    					 onclick= "toggleBookmark(`{% url 'bookmark' %}`, {'product': '{{product.id}}'}, this);">
  				</div>
			</div>
		{% endfor %}
	</section>

	<section id="bookmarked" name="bookmarked" class="section-bookmarked">
		{% for bookmark in bookmarks %}
			<div id="bookmarked_product_{{bookmark.product.id}}" class="bookmarked-product">
				<div class="card-body">
    				<h5 class="card-title">{{product.name}}</h5>
    				<img class="card-img-top" src="{{bookmark.product.image_url}}" alt="Product Image" />
    				<p class="card-text">Current Price: {{bookmark.product|get_product_price}}</p>
    				<a href="{{bookmark.product.url}}" target="_blank" class="btn btn-primary">View Product</a>
    				<img class="img-spacing" 
    					 src="{{bookmark.product|get_bookmark_src}}"
    					 onclick= "toggleBookmark(`{% url 'bookmark' %}`, {'product': '{{bookmark.product.id}}'}, this);">
  				</div>
			</div>
		{% endfor %}
	</section>
</main>

{% endblock %}
