{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load dashboard_filters %}
<main>
	
	<section id="quick_stalk" name="quick_stalk" class="section-quick-stalk">
		<h2>Stalk a product</h2>
		
		<div id="quick_stalk_fields"  name="quick_stalk_fields">
			{{ formset }}
		</div>

		<button id="submit_quick_stalk" name="submit_quick_stalk" class="submit-button" 
				onclick="postFieldsData(`{% url 'stalk' %}`,'id_name, id_url'); generateProduct();">Stalk</button>
	</section>

	<section id="recently_stalked" name="recently_stalked" class="section-recently-stalked">
		{% for product in products %}
			<div id="product_{{product.id}}" class="recently-stalked-area" style="width: 18rem;">
				<div class="card-body">
    				<h5 class="card-title">{{product.name}}</h5>
    				<p class="card-text">coming soon...</p>
    				<a href="{{product.url}}" target="_blank" class="btn btn-primary">View Product</a>
    				<img class="img-spacing" 
    					 src="{{product|get_bookmark_src}}"
    					 onclick= "toggleBookmark(`{% url 'bookmark' %}`, {'product': '{{product.id}}'}, this);">
  				</div>
			</div>
		{% endfor %}
	</section>
	
	<!---
    <section id="subscription_form" name="subscription_form" class="section-subscription">
    	<h2>Subscribe to notifications</h2>
        <form id="add_product" name="add_product" method="post" action="{% url 'subscribe' %}" enctype="multipart/form-data">
		    {% csrf_token %}

		    {{ formset2 }}

		    <input type="submit" id="submit" name="submit" />
		</form>
    </section>
    --->
</main>

{% endblock %}
