{% extends 'base.html' %}

{% block content %}

<main>
	
	<section id="quick_track" name="quick_track" class="section-quick-track">
		<h2>Track a product</h2>
		<form id="add_product" name="add_product" method="post" action="" enctype="multipart/form-data">
		    {% csrf_token %}

		    {{ formset }}

		    <input type="submit" id="submit" name="submit" />
		</form>
	</section>

    <section id="subscription_form" name="subscription_form" class="section-subscription">
        <form id="add_product" name="add_product" method="post" action="" enctype="multipart/form-data">
		    {% csrf_token %}

		    {{ formset2 }}

		    <input type="submit" id="submit" name="submit" />
		</form>
    </section>
</main>

{% endblock %}
